main {
  background: #EDEDED;
  color: #AF3D4E;
}

.icons-social a {
  color: #AF3D4E;
}

.icons-social a svg path{
  fill: #AF3D4E;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  color: #2C363F;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #2C363F;
}


body {
  background-color: #FFFAFF;
}

i {
  font-size: 40px;
}

.red-text {
  color: #EF6461;
}

.wrapper {
  margin-top: 80px;
}

.avatar {
  float: left;
  width: 200px;
  height: 200px;
  margin-top: 1em;
  margin-right: 1em;
  position: relative;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.info-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-top: 30px;

}

.line {
  text-decoration: line-through;
}
